@model IEnumerable<RestaurantWebsite.Models.MenuItem>


@foreach(var item in Model)
{

<div class="restaurant-menu-card">


    @if(item.ImageData != null)
    {

        <img class="menu-media"
             src="@Url.Action("GetImage","Menu",new {id=item.Id})"
             alt="@item.Name" />

    }



    <div class="restaurant-menu-content">


        <h3>
            @item.Name
        </h3>


        <p>
            @item.Description
        </p>


        <div class="menu-category">

            @item.Category.Name

        </div>



        <div class="menu-price">

            ₹ @item.Price

        </div>


    </div>


</div>

}
